/* Pick and choose your own flavours */
/* PLEASE DONT JUST COPY PASTE THE ENTIRE THING, JUST THE ONE YOU NEED!! Stylish is very modular!! you can stack stuff for quick access */


/* ------------- */
/* CUSTOM TRAINNER [YOURS]*/
/* too lazy to do the right one, just change .leftbar to .rightbar and translate x to a positive value(keep the :after and :before though), you need like 5px in y in translate for some reason for the opponenet* /
/* ------------- */
.leftbar .trainersprite  {
	position: relative;
	translate: -200px 0px;	/* 200px 0px if rightbar */ 
}

.leftbar .trainersprite::after {
	content: "";
	position: absolute;
	background:
	url( /* LINK TO IMAGE OR GIF HERE */ )
	no-repeat;
	width: 80px;
	height: 80px; 
	top: 7px;	 /* image isnt automatically positioned */ 
	left: -2px;	 /* you should touch these a bit */ 
	transform:scale(0.85) scaleX(1); /* not guarateed to scaled perfectly  legacy code, scaleX(-1) to flip it, */ 
	translate: -200px 0px;	/* -200px 5px if rightbar */ 
}
/* This is my own bit to be compatible with the rating line on main */
.leftbar .trainersprite::before {
        translate: -200px 0px;
}

/* ------------- */
/* CUSTOM BACKGROUND */
/* Unlike the trainer sprite, this is 1:1, make sure its 640x360 */
/* ------------- */
.backdrop:before {
	content: "";
	background:
	url( /* LINK TO IMAGE OR GIF HERE */ )
	no-repeat;
	image-rendering: pixelated;	/* this is optional */
	position: absolute;
	width: 640px;
	height: 360px;
	top: 90px;	/* the original image display code on showdown is pure nightmare to look at */
	left: 50px; 
	transform:scale(1.05);	/* bodge for screen shaking effect like eq, slightly enlarge the image to workaround clipping */
}

/* ------------- */
/* CUSTOM EFFECTS */
/* blah these have very odd resolution, just use inspect on chrome or whatever to find out :< */
/* the effect's resolution on your side and opponenet's side are DIFFERENT, for some reason, the image will not be perfectly scaled if the opponent use it */
/* ------------- */
/* PROTECT */
.turnstatus-protect {
	background: rgba(0,0,0, 0) /* RGB and Alpha, since i like my effects to completely be overidden i use 0 alpha, but you do you */
	url( /* LINK TO IMAGE OR GIF HERE */ )
	no-repeat;
	border: 0px solid #AA66AA;
	display: none;
	position: absolute; 
	transform: scale(1.25); /* own preference */
	translate: 0px -20px; /* remove it need be, showdown is a bit small for my liking */
}